{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-1 pb-md-1 mx-auto text-center">
    <h1 class="display-5">SkyStore</h1>
    <div class="lh-sm mb-0">
        <p class="lead mb-1">Категория: {{product.category}}</p>
        <p class="lead mb-1">
            Продукт: <span class="fw-bold text-primary fs-5">FabFilter Pro‑C 2</span>
        </p>
        <p class="mb-0">
            Разработан: {{product.created_at}} <span class="ms-3">Изменен: {{product.updated_at}}</span>
        </p>
    </div>
</div>


<div class="container mt-1">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 text-center">
            <h3 class="text-dark mb-1">{{product.price}}$</h3>

            <div class="mb-4">
                <img src="{{ product.image | media_filter }}" alt="Иллюстрация товара"
                class="rounded img-with-border" width="340" height="238">
            </div>
            <p> {{product.description}}</p>
            <a href="#" class="btn btn-outline-primary w-50 rounded-sm">Купить</a>
        </div>
    </div>

    {% include 'footer.html' %}
</div>

{% endblock %}